/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --text-color: #000028;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
}
